.blog-content {
    padding: 0 1.5rem;
}

.blog-img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    height: 100%;
}

.blog-desc {
    margin-top: 12px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .blog {
        height: 100%;
    }
    .blog-content {
        grid-template-columns: 1fr;
    }
}