.counter {
    margin-top: 80px;
    position: relative;
}

.hero.counter::after {
    height: 50vh;
    background-image: url(../../../../public/images/counter-bg.jpg);
    background-position: center;
    background-size: cover;
}

.counter h1 {
    margin: 0;
}

@media screen and (max-width:768px) {
    .counter-container {
        grid-template-columns: repeat(2, 1fr);
    }
}